<form novalidate autocomplete="off" (ngSubmit)="save()" [formGroup]="caForm">
    <fieldset>
        <!--<app-card-projection [tabTitle]="formGroupMetadata[0].grouptitle" [hide]="formGroupMetadata[0].hidden">-->
        <app-card-projection [tabTitle]="(formGroupMetadata | customfilter:'piGroup')[0].grouptitle" [hide]="(formGroupMetadata | customfilter:'piGroup')[0].hidden">
            <app-personalinfo [piGrp]="caForm.get('piGroup')"
                              [feErr]="fe">
                              <!--[piGrpIsVld]="piGroupValid"
                              [grpNm]="formGroupMetadata[0].groupName">
                 -->
                              <!--(paginationBtnEvt)="paginationBtnEvtNotify($event)">-->
                <!--
                    Remove -- (paginationBtnEvt)="paginationBtnEvtNotify($event)"
                    Add -- 
                    -->
            </app-personalinfo>
            <app-pagination [frmGrpNm]="formGroupMetadata[0].groupName" [pv]="formGroupMetadata[0].paginationValidation.paginationValidation">
            </app-pagination>
        </app-card-projection>


        <app-card-projection tabTitle="Details" [tabTitle]="formGroupMetadata[1].grouptitle" [hide]="formGroupMetadata[1].hidden">
            <other-personalinfo [opiGrp]="caForm.get('opiGroup')"
                                [stdntAppDataLkp]="stdAppDataLkp"
                                [feErr]="fe">
                                <!--[opiGrpIsVld]="opiGroupValid"
                                [grpNm]="formGroupMetadata[1].groupName">
                                (paginationBtnEvt)="paginationBtnEvtNotify($event)">-->
            </other-personalinfo>
            <app-pagination [frmGrpNm]="formGroupMetadata[1].groupName" [pv]="formGroupMetadata[1].paginationValidation.paginationValidation">
            </app-pagination>
        </app-card-projection>
    </fieldset>
</form>