<form novalidate autocomplete="off" (ngSubmit)="save()" [formGroup]="caForm">
    <fieldset>

        <app-card-projection [tabTitle]="formGroupMetadata[0].grouptitle" [hide]="formGroupMetadata[0].hidden">
            <app-personalinfo [piGrp]="caForm.get('piGroup')"
                              [piGrpIsVld]="piGroupValid"
                              [feErr]="fe"
                              [grpNm]="formGroupMetadata[0].groupName">
                              <!--(paginationBtnEvt)="paginationBtnEvtNotify($event)">-->
                <!--
                    Remove -- (paginationBtnEvt)="paginationBtnEvtNotify($event)"
                    Add -- 
                    -->
            </app-personalinfo>
        </app-card-projection>


        <app-card-projection tabTitle="Details" [tabTitle]="formGroupMetadata[1].grouptitle" [hide]="formGroupMetadata[1].hidden">
            <other-personalinfo [opiGrp]="caForm.get('opiGroup')"
                                [opiGrpIsVld]="opiGroupValid"
                                [stdntAppDataLkp]="stdAppDataLkp"
                                [feErr]="fe"
                                [grpNm]="formGroupMetadata[1].groupName">
                                <!--(paginationBtnEvt)="paginationBtnEvtNotify($event)">-->
            </other-personalinfo>
        </app-card-projection>
    </fieldset>
</form>