<div [formGroup]="ccGroupForm">
    <div class="form-group row">
        <label for="vrt_course" class="col-3 col-form-label"
               [ngClass]="{'invalid-feedback': feError.vrt_course}">Course</label>
        <div class="col-9">
            <select class="form-control" name="vrt_course" formControlName="vrt_course" (click)="vrt_courseClick($event)">
                <option *ngFor="let controlList of studentApplicationDataLookup?.course" [value]="controlList.CourseID">
                    {{controlList.CourseName}}
                </option>
            </select>
            <span class="form-text" *ngIf="feError.vrt_course"
                  [ngClass]="{'invalid-feedback': feError.vrt_course }">
                {{feError.vrt_course}}
            </span>
        </div>
    </div>
    <!--v-{{ccGroupForm.get('vrt_course')?.value}}
   f- {{(studentApplicationDataLookup?.courseCampus | customfilterarray: 'courseID':ccGroupForm.get('vrt_course')?.value).length}}-->
    <div class="form-group row">
        <label for="txtCampus" class="col-3 col-form-label"
               [ngClass]="{'invalid-feedback': feError.txtCampus}">Campus</label>
        <div class="col-9">
            <select class="form-control" name="txtCampus" formControlName="txtCampus">
                    <!--[disabled]="(studentApplicationDataLookup?.courseCampus | customfilterarray: 'courseID':ccGroupForm.get('vrt_course')?.value).length == 0">-->
                <option *ngFor="let controlList of studentApplicationDataLookup?.courseCampus | customfilterarray: 'courseID':ccGroupForm.get('vrt_course')?.value" 
                        [value]="controlList.courseCampusID">
                    {{controlList.campusName}}
                </option>
            </select>
            <span class="form-text" *ngIf="feError.txtCampus"
                  [ngClass]="{'invalid-feedback': feError.txtCampus }">
                {{feError.txtCampus}}
            </span>
        </div>
    </div>
</div>