<!--<div class="row">
    <div class="col">
        <button type="button" class="btn backBtn float-left">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn nextBtn float-right">
            <i class="fa fa-arrow-right fa-2" aria-hidden="true"></i>
            Next
        </button>
    </div>
</div>-->


<div class="row">
    <div class="col">
        <div class="float-left">
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="isUnderstand" id="isUnderstand" style="transform: scale(2);" />
                    <label for="isUnderstand">Yes I understand </label>
                </div>
                <div class="col" *ngIf="false">
                    <button type="button" class="btn backBtn">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="float-right">
            <button type="button" class="btn nextBtn mr-4">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
            <button type="button" class="btn nextBtn">
                <i class="fa fa-arrow-right fa-2" aria-hidden="true"></i>
                Next
            </button>
        </div>
    </div>
</div>

