@*
    New Item = > MVC VIEW PAGE

    VIEW COMPONENT's cshtml

    ViewComponents => GreeterViewComponent.cs

*@


@model string

<h5>View Component - GreeterViewComponent - Begin </h5>

<div>
    @Model
</div>

<h5>View Component - GreeterViewComponent - End </h5>